$color-white: #f1f1f1;
$color-primary: #e4ca61;
$color-secondary: #806321;
$color-tertiary: #d83333;
$color-bg: #190d17;
$color-black: #190d17;
$color-primary-darker: #a1871e;
$color-secondary-darker: #5e4814;
$color-tertiary-darker: #c52929;
$color-primary-opacity: #e6cb3375;
$color-secondary-opacity: #38120a59;
$color-tertiary-opacity: #c5292963;
$gradient-primary: linear-gradient(to top left, #ffe347, #a1871e);
$gradient-secondary: linear-gradient(to top left, #ffb003, #ffe347);

// FONT
$default-font-size: 1.6rem;

// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;
