@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

body {
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  color: $color-primary;
  line-height: 1.9;
}

a {
  color: $color-primary;
  text-decoration: none;
  transition: all 0.3s;
  font-weight: 100;
  :hover {
    color: $color-primary-darker;
  }
}

.heading-principal {
  text-transform: uppercase;
  font-size: 5rem;
  text-align: center;
  opacity: 1;
  transition: all 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);
  margin-top: 0;
  @include respond(tab-port) {
    font-size: 4rem;
    margin-top: 1rem;
  }
  @include respond(tab-land) {
    margin-top: 0;
  }
  @include respond(phone) {
    font-size: 4rem;
    line-height: 3.5rem;
    margin-top: 1rem;
  }
}

.heading-secundario {
  text-transform: uppercase;
  transition: all ease 0.5s;
  font-size: 2rem;
  transition: all 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);
  @include respond(tab-port) {
    line-height: 1.5rem;
    padding: 2rem 0;
    font-size: 1.5rem;
  }
}

.heading-tres {
  transition: all 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);
  width: 100%;
  font-size: 2rem;
  color: white;
  text-transform: uppercase;
  margin: 3rem;
  font-weight: bolder;
  letter-spacing: 0.4rem;
}

.copyright {
  color: $color-secondary;
}
